# Exclude files that don't need to be present in packages (so they're not downloaded by Composer)

.coveralls.yml       export-ignore
.editorconfig        export-ignore
.gitattributes       export-ignore
.github/             export-ignore
.gitignore           export-ignore
codeception.dist.yml export-ignore
docs/                export-ignore
grumphp.yml          export-ignore
LICENSE.md           export-ignore
README.md            export-ignore
tests/               export-ignore
